@page
@model QuiltDesigner.Pages.Winchester

<div class="container">
    <div class="fixed">
        <svg width="840" height="800" id="svg1">
            <defs>
                @foreach (var fn in Model.swatchfilenames)
                {
                    var tmp = "/images/swatches/@fn";
                    <pattern id="@fn" height="100%" width="100%" patternContentUnits="objectBoundingBox">
                        <image height="1" width="1" preserveAspectRatio="none" xlink:href="/images/swatches/@fn"/>
                    </pattern>
                }
            </defs>
            @foreach (var tri in Model.Shapes)
            {
                <polygon points="@String.Join(" ", tri.Points)" fill="@tri.Color"/>
            }
        </svg>
    </div>
    <div class="flex-item">
        <p><button class="btn btn-primary" id="load">Load</button></p>
        <div id="grid"></div>
    </div>
</div>

@section scripts {
    <script>
        var currpat = "lgt3.jpg";
    </script>

    <script>
        document.getElementById('load').addEventListener('click', () => {
            fetch('/ajaxpartial?handler=SwatchPartial')
                .then((response) => {
                    return response.text();
                })
                .then((result) => {
                    document.getElementById('grid').innerHTML = result;
                });
        });
    </script>

    <script type="text/javascript">
        $(document).ready(function () {
            window.addEventListener("mouseup", (e) => {
                if (e.target.id.startsWith("lgt") || e.target.id.startsWith("drk") )
                {
                    currpat = e.target.id;
                }
                e.target.style.fill = "url(#" + currpat + ")";
            });
        });
    </script>
}