@model List<QuiltDesigner.Models.Swatch>
@* <table class="table table-striped"> *@
@*     @foreach(var swatch in Model) *@
@*     { *@
@*         <tr> *@
@*             <td>@swatch.Id</td> *@
@*             <td>@swatch.ImageName</td> *@
@*         </tr> *@
@*     } *@
@* </table> *@

<div class="row">
    @foreach (var swatch in Model)
    {
        <div class="col-3 p-1">
            <div class="card h-100">
                <img src="/images/swatches/@swatch.ImageName" class="img-fluid card-img-top" alt="alt" />
                <div class="card-body">
                    <h5 class="card-title">@swatch.Id</h5>
                </div>
            </div>
        </div>
    }
</div>
