@model List<QuiltDesigner.Models.Swatch>

<div class="row">
    @foreach (var swatch in Model)
    {
        <div class="col-3 p-1">
                <img id="@swatch.ImageName" src="/images/swatches/@swatch.ImageName" style="height: 111px; width: 115px;" />
        </div>
    }
</div>
